nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #cb8c54;
    gap: 45px;
    position: sticky;
    top: 0;
}
nav a{
    color: white;
    transition: all .2s;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: #aaebff;
}
nav a svg{
    margin-right: 5px;
}